body {
    background-image: url('Images/music.jpg'); /* Replace 'music_image.jpg' with the actual path to your music image */
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif; /* Default font family */
    margin: 10%; /* Remove default body margin */
    padding: 0; /* Remove default body padding */
}
p{
	font-size:30px;
	color:blue;
	font-family:MV Boli}

.center {
    text-align: center;
    margin-left:50% /* Adjust as needed to center content vertically */
}

.button {
    background-color: purple;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-family:oswald;
    font-size: 16px;
    margin: 20px;
    cursor: pointer;
    border-radius: 44px;
    color:ivory;
}

.button:hover {
    background-color: #26156a;
}
