body {
    background-image: url('Images/ss1.png'); /* Replace 'music_image.jpg' with the actual path to your music image */
    background-size: 160%;
    background-position: center;
    font-family: Arial, sans-serif; /* Default font family */
    margin: 14%; /* Remove default body margin */
    padding: 0; /* Remove default body padding */
    margin-top:3%
}

img{
	border-radius: 60px;
	margin-bottom: -80px;
	position: absolute;
}

.center {
    text-align: center;
   
   margin-left:65% /* Adjust  as needed to center content vertically */
    
}

.button {
	
    background-color: purple;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-family:oswald;
    font-size: 16px;
    margin: 20px;
    cursor: pointer;
    border-radius: 44px;
    color:ivory;
}

.button:hover {
    background-color: #26156a;
}
