table {
    border-collapse: collapse;
    width: 100%;
    
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    
    
}

th {
    background-color: magenta;
    border-radius:30px;
}

tr:nth-child(even) {
    background-color: #80ffff;
}

tr:hover {
    background-color: #8000ff;
}

.play-btn {
            
            border: none;
            padding: 8px 12px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 14px;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 4px;
            }

.audio-controls {
    width: 100%;
}
th{
color:blue;
}
audio{
color:orange;}
td{
color:red;}