body{
				background-color: black;
}
table {
    border-collapse: collapse;
    width: 100%;
    
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    
    
}

th {
    background-color:blue;
   
}

tr:nth-child(even) {
    background-color:rgb(128, 64, 64);
}

tr:hover {
    background-color: #8000ff;
}

.play-btn {
            
            border: none;
            padding: 8px 12px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 14px;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 4px;
            }

.audio-controls {
    width: 100%;
}
th{
color:magenta;
}

td{
color:ivory;}