<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Admin Home</title>
<link rel="stylesheet" type="text/css" href="Admin.css">
</head>
<body>
<center>
  <div>
  
 <form action="addsongs">
 <input type="submit" value="ADD SONG">
 </form>
 
 <form action="viewsongs" method="Get">
 <input type="submit" value="VIEW SONG">
 </form>
 
 
  <form action="createplaylists" method="Get">
 <input type="submit" value="CREATE PLAYLIST">
 </form>
 
 <form action="viewplaylist" method="Get">
 <input type="submit" value="VIEW PLAYLIST">
 </form>
 
 <form action="logout" method="Get">
 <input type="submit" value="LOGOUT">
 </form>
 
  <!-- <a href="addsongs"><button>Add Song</button></a>
 -->  </div>
 </center>
</body>
</html>