<!DOCTYPE html>
<html>
<head>
<title>Songs Page</title>
<link rel="stylesheet" type="text/css" href="song.css">

</head>
<body>
	<center>
		<div class="wrapper">

			<fieldset>
				<form action="addsong" method="Post">
					<h1>ADD A New Song</h1>
					<table>
						<tr>

							<td><div class="input-box">
				<input type="text" name="name" placeholder="Enter Song Name" required /></div></td>
							<td><div class="input-box">
				<input type="text" name="artist" placeholder="Enter Artist Name" required />
			</div></td>
						</tr>
						
						<tr>
							<td><div class="input-box">
				<input type="text" name="genre" placeholder="Enter Genre Type" required /> 
				
			</div></td>
			<td><div class="input-box">
				<input type="link" name="link" placeholder="Enter Link Here" required /> 
			
			</div></td>
						</tr>
						
					</table>
					<button>ADD SONG</button>


				</form>

			</fieldset>
		</div>
	</center>
</body>
</html>